html, body {
	width:  100%; /* needed for resize functions */
	height: 100%; /* needed for resize functions */
	margin: 0px; /* needed for resize functions */
	background: #000;
	color: #ccc;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	overflow: hidden;
}

#shipScreen {
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	width: 512px;
	height: 512px;
	display: none;
}

#veil {
	z-index: 40;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 1.0;
}

#cardboardInstructions {
	width: 152px;
	height: 278px;
	display: none;
	margin: 100px auto 0 auto;
	pointer-events: none;
}

#cursor {
	z-index: 30;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#viewerContainer {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#viewer {
	z-index: 21;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#debug {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

#oldie {
	background: #EEE;
	z-index: 2000;
	position: absolute;
	top: 0px;
	left: 20px;
}

.hidden {
	display: none;
}

div.dg.ac {
	z-index: 5000;
}